{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "plugins": [
        "html"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "linebreak-style": "off"
    },
    "settings": {
        "import/resolver": {
            "babel-module": {}
        }
    }
}