.forslag-list {

    &__selectors {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media screen and (max-width: 666px) {
            flex-direction: column;
        }

        .filter-selector,
        .sort-selector {
            margin: 5px;
            text-align: center;  

            p {
                display: inline;
                margin: 0 5px 0 0;
            }
    
            select {
                padding: 10px;
            }
        }
    }    

    &__list {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-inline-start: 0;
    
        .display-forslag {
            margin: 10px;
        }
    }    
}